@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

@layer components {
  .heading-1 {
    @apply text-4xl pt-4 pb-2;
  }
  .heading-2 {
    @apply text-3xl pt-4 pb-2;
  }
  .heading-3 {
    @apply text-2xl pt-4 pb-2 text-center;
  }
}